

body{
  
  
  background-image: url(https://i.pinimg.com/originals/2e/19/83/2e19839315d72ce2611b68ba393b0e00.jpg);
  
}

h1 {

  vertical-align: middle;
  line-height: 100px;
  color:rgb(166, 118, 126);
  text-align: center;
  border: 200px;
  font-size: 60px;
  font-family: Georgia, serif;
  border-radius: 20px 20px 20px;

}

.introduction{
  
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;

}

.explanation {

  background-color: rgb(115, 38, 52, 0.9);
  vertical-align: middle;
  text-align: inherit;
  line-height:18px;
  color:white;
  width: 300px;
  border: 100px;
  height: 140px;
  padding: 50px; 
  font-size: 10pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px 20px 20px;
  box-shadow: 5px 10px;
  box-sizing: content-box; 
  margin-left: 0px;
  margin-right: 20px; 
 
}

.note {

  font-size: 110%;
  color: rgb(151, 73, 74);

}

#container {

  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px;
  color: white

}

textarea{

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 0px;
  resize:none;
  background-color: rgb(148, 78, 83, 0.9);
  border-radius: 10px 10px 10px;
  border-color: rgb(148, 78, 83, 0.9);

}

#buttonCrypt, #buttonDecrypted, #clearButtonEn, #clearButtonDec {
  
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(115, 38, 52);
  border-bottom: 10px solid redrgba;
  border-color: rgb(115, 38, 52);
  color: white;
  box-shadow: 0 0 10px;
  border-radius: 6px 6px 6px;

}




input{

  background-color: rgb(148, 78, 83);
  border-color: rgb(148, 78, 83);
  color: white;
  border-radius: 5px 5px 5px;

}


  
